### A CI workflow template that runs linting and Python testing

name: test and lint tap-delighted

on:
  pull_request:
    types: ["opened", "synchronize", "reopened"]
    branches: [main]
    paths:
      - .github/workflows/test.yml
      - tap_delighted/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - tox.ini
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          enable-cache: true

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install requirements
        run: uv sync --no-dev

      - name: Run Ruff (Linting)
        run: uvx ruff check .

  pytest:
    runs-on: ubuntu-latest
    env:
      TAP_DELIGHTED_API_KEY_NPS: ${{ secrets.TAP_DELIGHTED_API_KEY_NPS }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          enable-cache: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: |
          uv sync
          uv tool install tox --with tox-uv

      - name: Run Tox
        run: |
          tox -e $(echo py${{ matrix.python-version }} | tr -d .)